html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", serif;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  max-width: 1744px;
  margin: auto;
}

.container__min {
  max-width: 1136px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style: none;
}

.header__middle {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 214, 236, 0.30196)), to(rgba(232, 232, 232, 0)));
  background: linear-gradient(180deg, rgba(1, 214, 236, 0.30196) 0%, rgba(232, 232, 232, 0) 100%);
}

.header__inner {
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;
  height: 100%;
  padding-bottom: 276px;
}

.menu {
  padding: 53px 248px 217px 220px;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list__wrapper li {
  padding-top: 3px;
}

.menu__list__wrapper li + li {
  margin-left: 43px;
}

.menu__list__wrapper li a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.menu__list__wrapper li a.tel {
  margin-left: 37px;
  color: #000;
  background-color: #fff;
  padding: 15px 26px;
  border-radius: 25px 30px 0 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__list__wrapper li a.tel:hover {
  color: #091e42;
  background-color: #bff4fa;
  -webkit-box-shadow: 0 0 10px rgba(75, 75, 75, 0.507);
          box-shadow: 0 0 10px rgba(75, 75, 75, 0.507);
}

.menu__list__wrapper li a.central {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__list__wrapper li a.central:hover {
  font-size: 20px;
}

.header__text {
  margin-left: 220px;
  color: #fff;
}

.header__text .big__text {
  font-size: 76px;
  font-weight: bold;
}

.header__text .small__text {
  font-size: 30px;
  font-weight: 300;
}

.header__button {
  margin-left: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 53px;
  font-size: 18px;
  font-weight: 500;
}

.header__button .button__button {
  background: -webkit-gradient(linear, left top, right top, from(#0bdbdf), to(#60f285));
  background: linear-gradient(90deg, #0bdbdf 0%, #60f285 100%);
  border-radius: 40px;
  padding: 14px 38px;
}

.header__button .button__button a {
  color: #fff;
}

.header__button .button__button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#0bdbdf), to(#60f285));
  background: linear-gradient(270deg, #0bdbdf 0%, #60f285 100%);
}

.header__button .button__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #01b3e8;
}

.header__button .button__text span {
  margin-left: 11px;
}

.menu__list__burger {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #01b3e8;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #091e42;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #01b3e8;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__number {
  display: none;
}

.menu__number a.tel {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin-left: 37px;
  color: #000;
  background-color: #fff;
  padding: 15px 26px;
  border-radius: 25px 30px 0 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__number a.tel:hover {
  color: #091e42;
  background-color: #bff4fa;
  -webkit-box-shadow: 0 0 10px rgba(75, 75, 75, 0.507);
          box-shadow: 0 0 10px rgba(75, 75, 75, 0.507);
}

.menu__item:hover {
  background-color: #01b3e8;
  color: #091e42;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__box {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.provide__text {
  margin-top: 66px;
  text-align: center;
}

.provide__text span {
  color: #091e42;
  font-weight: bold;
  display: block;
  font-size: 46px;
}

.provide__info {
  margin-top: 66px;
}

.provide__info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.provide__info__inner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 470px;
  margin-bottom: 110px;
}

.provide__info__inner__block img {
  margin-right: 26px;
}

.provide__info__inner__block .text__big {
  color: #091e42;
  font-size: 24px;
}

.provide__info__inner__block .text__small {
  padding-top: 40px;
  padding-left: 2px;
  font-weight: 300;
  font-size: 20px;
  color: #3c3c3c;
  line-height: 36px;
}

.counting__wrapper {
  background-image: url("/img/counting-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100%;
}

.conting__inner {
  padding-bottom: 208px;
}

.counting__line {
  margin-bottom: 69px;
}

.counting__line img {
  width: 100%;
  min-height: 7px;
}

.counting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.counting__container__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #003ecd;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.counting__container__block p {
  font-size: 46px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 12px;
  padding-top: 28px;
}

.counting__border {
  margin: 78px 75px 16px;
  width: 2px;
  background-color: #003ecd;
}

.counting__inner__video {
  padding-bottom: 70px;
}

.counting__inner__video .video__text {
  margin-bottom: 66px;
  text-align: center;
}

.counting__inner__video .video__text span {
  color: #091e42;
  font-weight: bold;
  display: block;
  font-size: 46px;
}

.counting__inner__video .video__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counting__inner__video .video__inner iframe {
  width: 650px;
  height: 360px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.counting__inner__video .video__inner ul li {
  margin-bottom: 25px;
  font-size: 18px;
  color: #091e42;
}

.counting__inner__video .video__inner ul li::before {
  content: url("../img/counting-arrow.png");
  margin-right: 12px;
}

@media (max-width: 1538px) {
  .menu {
    padding: 53px 150px 217px 150px;
  }
  .header__text {
    margin-left: 150px;
  }
  .header__button {
    margin-left: 150px;
  }
}

@media (max-width: 1370px) {
  .menu {
    padding: 50px 100px 215px 100px;
  }
  .header__text {
    margin-left: 100px;
  }
  .header__button {
    margin-left: 100px;
  }
}

@media (max-width: 1320px) {
  .counting__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .counting__border {
    display: none;
  }
}

@media (max-width: 1270px) {
  .menu {
    padding: 50px 70px 215px 70px;
  }
  .header__text {
    margin-left: 70px;
  }
  .header__button {
    margin-left: 70px;
  }
}

@media (max-width: 1210px) {
  .menu__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__number {
    display: block;
  }
  .menu__list__wrapper {
    display: none;
  }
  .menu__list__burger {
    display: block;
    width: 0;
  }
  .header__text {
    margin-left: 0;
    text-align: center;
  }
  .big__text {
    padding-bottom: 50px;
  }
  .header__button {
    margin-left: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header__button .button__text {
    margin-left: 0;
  }
  .counting__inner__video {
    padding-bottom: 30px;
  }
  .video__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video__inner ul {
    padding-left: 0;
    margin-left: 0;
    padding-top: 40px;
  }
}

@media (max-width: 940px) {
  .counting__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .counting__container__block {
    margin-bottom: 60px;
    width: 50%;
  }
}

@media (max-width: 680px) {
  .video__text span {
    font-size: 36px !important;
  }
  .video__inner iframe {
    max-width: 360px;
    max-height: 200px;
  }
}

@media (max-width: 670px) {
  .menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin-top: -35px;
  }
  .header__logo {
    margin-top: 135px;
  }
  .menu__number a.tel {
    margin: 0;
    border-radius: 0 0 25px 25px;
  }
  .header__text {
    margin-top: -80px;
  }
  .header__text .big__text {
    font-size: 64px;
  }
  .header__text .small__text {
    font-size: 24px;
  }
}

@media (max-width: 538px) {
  .header__text .big__text {
    font-size: 50px;
  }
  .header__text .small__text {
    font-size: 20px;
  }
  .header__logo {
    margin-top: 75px;
  }
  .header__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__button .button__button {
    margin-bottom: 30px;
  }
  .provide__info__inner {
    text-align: center;
  }
  .provide__info__inner__block {
    margin-bottom: 50px;
    display: block;
  }
  .provide__info__inner__block img {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .provide__info__inner__block .text__small {
    padding: 10px;
  }
}

@media (max-width: 485px) {
  .video__inner ul li {
    text-align: center;
    font-size: 16px !important;
  }
  .video__inner ul li::before {
    content: none !important;
  }
}

@media (max-width: 440px) {
  .header__inner {
    padding-bottom: 283px;
  }
  .header__text .big__text {
    font-size: 45px;
  }
  .header__text .small__text {
    font-size: 16px;
  }
  .provide__text span {
    font-size: 38px;
  }
  .counting__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .counting__container__block {
    margin-bottom: 75px;
    width: 100%;
  }
}

@media (max-width: 423px) {
  .video__text span {
    font-size: 28px !important;
  }
  .video__inner iframe {
    width: 300px !important;
    height: 150px !important;
  }
}
/*# sourceMappingURL=style.css.map */