//global
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}
.container {
    max-width: 1744px;
    margin: auto;
}
.container__min {
    max-width: 1136px;
    margin: auto;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    li {
        list-style: none;
    }
}
//
//header
.header__middle {
    background: linear-gradient(180deg, rgba(1, 214, 236, 0.30196) 0%, rgba(232, 232, 232, 0) 100%);
}
.header__inner {
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    height: 100%;
    padding-bottom: 276px;
}
.menu {
    padding: 53px 248px 217px 220px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}
.menu__list {
    &__wrapper {
        display: flex;
        li {
            padding-top: 3px;
            & + li {
                margin-left: 43px;
            }
            a {
                font-weight: bold;
                font-size: 16px;
                color: #fff;
            }
            a.tel {
                margin-left: 37px;
                color: #000;
                background-color: #fff;
                padding: 15px 26px;
                border-radius: 25px 30px 0 25px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
                transition: all 0.5s;
                &:hover {
                    color: #091e42;
                    background-color: #bff4fa;
                    box-shadow: 0 0 10px rgba(75, 75, 75, 0.507);
                }
            }
            a.central {
                transition: all 0.5s;
                &:hover {
                    font-size: 20px;
                }
            }
        }
    }
}
.header__text {
    margin-left: 220px;
    color: #fff;
    .big__text {
        font-size: 76px;
        font-weight: bold;
    }
    .small__text {
        font-size: 30px;
        font-weight: 300;
    }
}

.header__button {
    margin-left: 220px;
    display: flex;
    justify-content: start;
    margin-top: 53px;
    font-size: 18px;
    font-weight: 500;
    .button__button {
        background: linear-gradient(90deg, rgb(11, 219, 223) 0%, rgb(96, 242, 133) 100%);
        border-radius: 40px;
        padding: 14px 38px;
        a {
            color: #fff;
        }
        &:hover {
            background: linear-gradient(270deg, rgb(11, 219, 223) 0%, rgb(96, 242, 133) 100%);
        }
    }
    .button__text {
        display: flex;
        margin-left: 24px;
        align-items: center;
        color: #01b3e8;
        span {
            margin-left: 11px;
        }
    }
}
//

//burger

.menu__list__burger {
    display: none;
}
#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #01b3e8;
}
.menu__btn > span::before {
    content: "";
    top: -8px;
}
.menu__btn > span::after {
    content: "";
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #091e42;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #01b3e8;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__number {
    display: none;
    a.tel {
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        margin-left: 37px;
        color: #000;
        background-color: #fff;
        padding: 15px 26px;
        border-radius: 25px 30px 0 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        transition: all 0.5s;
        &:hover {
            color: #091e42;
            background-color: #bff4fa;
            box-shadow: 0 0 10px rgba(75, 75, 75, 0.507);
        }
    }
}
.menu__item:hover {
    background-color: #01b3e8;
    color: #091e42;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: 0.25s;
}
.menu__box {
    transition-duration: 0.25s;
}
.menu__item {
    transition-duration: 0.25s;
}
//
//provide
.provide__text {
    margin-top: 66px;
    text-align: center;
    span {
        color: #091e42;
        font-weight: bold;
        display: block;
        font-size: 46px;
    }
}
.provide__info {
    margin-top: 66px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__block {
            display: flex;
            max-width: 470px;
            margin-bottom: 110px;
            img {
                margin-right: 26px;
            }
            .text {
                &__big {
                    color: #091e42;
                    font-size: 24px;
                }
                &__small {
                    padding-top: 40px;
                    padding-left: 2px;
                    font-weight: 300;
                    font-size: 20px;
                    color: #3c3c3c;
                    line-height: 36px;
                }
            }
        }
    }
}
//
//counting
.counting__wrapper {
    background-image: url("/img/counting-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100%;
}
.conting__inner {
    padding-bottom: 208px;
}
.counting__line {
    img {
        width: 100%;
        min-height: 7px;
    }
    margin-bottom: 69px;
}
.counting__container {
    display: flex;
    justify-content: space-between;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #003ecd;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        p {
            font-size: 46px;
            margin-bottom: 0;
            margin-top: 0;
            padding-bottom: 12px;
            padding-top: 28px;
        }
    }
}
.counting__border {
    margin: 78px 75px 16px;
    width: 2px;
    background-color: #003ecd;
}

.counting__inner__video {
    padding-bottom: 50px;
    .video__text {
        margin-bottom: 66px;
        text-align: center;
        span {
            color: #091e42;
            font-weight: bold;
            display: block;
            font-size: 46px;
        }
    }
    .video__inner {
        display: flex;
        iframe {
            width: 650px;
            height: 360px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
            border-radius: 10px;
        }
        ul {
            li {
                margin-bottom: 25px;
                font-size: 18px;
                color: #091e42;
                &::before {
                    content: url("../img/counting-arrow.png");
                    margin-right: 12px;
                }
            }
        }
    }
}
//
//blue
.blue__wrapper {
    background: linear-gradient(90deg, rgb(0, 62, 205) 0%, rgb(0, 101, 255)  100%);
}
.blue__inner{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 77px;
}
.blue__text {
    padding-bottom: 43px;
    color: #fff;
    font-size: 46px;
    font-weight: bold;

}
.blue__button{
    padding: 20px 50px;
    a{
        padding: 20px 50px;
        color: #fff;
        font-weight: bold;
        font-size: 26px;
        border-radius: 35px;
        background: linear-gradient(90deg, rgb(124,158,255) 0%, rgb(48,220,255) 100%);
        transition: all .5s;
        &:hover{
            background: linear-gradient(-90deg, rgb(124,158,255) 0%, rgb(48,220,255) 100%);
        }
    }
}
//
//media
@media (max-width: 1538px) {
    .menu {
        padding: 53px 150px 217px 150px;
    }
    .header__text {
        margin-left: 150px;
    }
    .header__button {
        margin-left: 150px;
    }
}

@media (max-width: 1370px) {
    .menu {
        padding: 50px 100px 215px 100px;
    }
    .header__text {
        margin-left: 100px;
    }
    .header__button {
        margin-left: 100px;
    }
}

@media (max-width: 1320px) {
    .counting__container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .counting__border {
        display: none;
    }
}

@media (max-width: 1270px) {
    .menu {
        padding: 50px 70px 215px 70px;
    }
    .header__text {
        margin-left: 70px;
    }
    .header__button {
        margin-left: 70px;
    }
}

@media (max-width: 1210px) {
    .menu__logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu__number {
        display: block;
    }
    .menu__list__wrapper {
        display: none;
    }
    .menu__list__burger {
        display: block;
        width: 0;
    }

    .header__text {
        margin-left: 0;
        text-align: center;
    }
    .big__text {
        padding-bottom: 50px;
    }
    .header__button {
        margin-left: 0;
        justify-content: space-evenly;
        .button__text {
            margin-left: 0;
        }
    }
    .counting__inner__video {
        padding-bottom: 30px;
    }
    .video__inner {
        flex-direction: column;
        align-items: center;
        ul {
            padding-left: 0;
            margin-left: 0;
            padding-top: 40px;
        }
    }
}

@media (max-width: 940px) {
    .counting__container {
        justify-content: space-evenly;
        &__block {
            margin-bottom: 60px;
            width: 50%;
        }
    }
    .conting__inner{
        padding-bottom: 100px;
    }
}


@media(max-width: 897px) {
    .blue__text{
        font-size: 32px;
    }
}

@media(max-width: 708px) {
    .blue__button{
        padding: 10px 35px;
        a{
            padding: 10px 35px;
            font-size: 20px;
        }
    }
}


@media (max-width: 680px) {
    .video__text {
        span {
            font-size: 36px !important;
        }
    }
    .video__inner {
        iframe {
            max-width: 360px;
            max-height: 200px;
        }
    }
}

@media (max-width: 670px) {
    .menu__logo {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: -35px;
    }
    .header__logo {
        margin-top: 135px;
    }
    .menu__number {
        a.tel {
            margin: 0;
            border-radius: 0 0 25px 25px;
        }
    }
    .header__text {
        margin-top: -80px;
        .big__text {
            font-size: 64px;
        }
        .small__text {
            font-size: 24px;
        }
    }
}

@media(max-width: 636px) {
    .blue__text{
        font-size: 24px;
    }
}


@media (max-width: 538px) {
    .header__text {
        .big__text {
            font-size: 50px;
        }
        .small__text {
            font-size: 20px;
        }
    }
    .header__logo {
        margin-top: 75px;
    }
    .header__button {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .button__button {
            margin-bottom: 30px;
        }
    }
    .provide__info {
        &__inner {
            text-align: center;
            &__block {
                margin-bottom: 50px;
                display: block;
                img {
                    margin-bottom: 30px;
                    margin-right: 0;
                }
                .text {
                    &__small {
                        padding: 10px;
                    }
                }
            }
        }
    }

    .blue__button{
        padding: 0;
        a{
            padding: 0;
            border-radius: 0;
            background: none;
            color: rgb(48,220,255);
            border-bottom: 1px solid rgb(124,158,255);
            text-shadow:  rgb(124,158,255) 1px 0 10px; 
        }
    }
}

@media (max-width: 485px) {
    .video__inner {
        ul {
            li {
                text-align: center;
                font-size: 16px !important;
                &::before {
                    content: none !important;
                }
                text-decoration: underline;
                //border-bottom: 1px solid rgb(197, 197, 197);
            }
        }
    }
}
@media (max-width: 440px) {
    .header__inner {
        padding-bottom: 283px;
    }
    .header__text {
        .big__text {
            font-size: 45px;
        }
        .small__text {
            font-size: 16px;
        }
    }
    .provide__text {
        span {
            font-size: 38px;
        }
    }
    .counting__container {
        justify-content: center;
        &__block {
            margin-bottom: 75px;
            width: 100%;
        }
    }
    .conting__inner{
        padding-bottom: 0px;
    }
}
@media (max-width: 423px) {
    .video__text {
        span {
            font-size: 28px !important;
        }
    }
    .video__inner {
        iframe {
            width: 300px !important;
            height: 150px !important;
        }
    }
}

// Vladyslav Ostrovskyi
